.demo-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.demo-container,
.demo-sideNav {
  position: absolute;
  padding-top: 64px;
  height: calc(100vh - 64px);
}
.demo-container {
  width:100%;
}
.toolbar-separator {
  flex: 1 1 auto;
}
