.post-tile {
  align-self: flex-start;
  width: 100%;
  margin: 5px;
}

.post-tile .mat-card-image {
  max-height: 300px;
}

mat-card:focus {
  background: lightblue;
}
.blog-sidebar-content{
  align-self: flex-start;
  padding-top: 100px;
  width: 95%;
}
.mat-basic-chip {
  background: lime;
  margin: 0 0 0 8px;
  padding: 7px 12px;
  border-radius: 5px;
}
